<!DOCTYPE html>
<html>
    <head>
    <title>NATIONAL MATHAMETICS DAY</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  
  <link href="css/" rel="stylesheet" />
  <link href="style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="css/animate.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/main.js"></script>   -->

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto');
    body{
      font-family: 'Roboto', sans-serif;
    }
    .body-row{
        margin-left: 15px;
        /* margin-top: 30px; */
        margin-right: 15px;
    }
    .website_title {
      color: rgb(4, 90, 187);
      /* font-size: 2rem; */
      /* padding: 2%; */
      /* font-size: 50px; */
    }
    .head{
        color: black;
    }
    .website_title h1{
        font-size: 52px;
        /* padding-left: 148px; */
        padding-top: 18px;
    }

    .logo {
      height: 120px;
      text-align: center;
    }
    #admit-h{
        text-align: center;
        padding-top: 20px;
        font-weight: bold;
    }
    #top1{
        font-size: 15px;
        font-weight: bold;
        /* padding-left: 326px; */
    }
    #top2{
        font-size: 21px;
        font-weight: bold;
        /* padding-left: 255px; */
    }
    .reg{
        margin-left: 5px;
        border-collapse: collapse;
        height: 500px;
        width: 100%;
        text-align: left;
    }
    .reg tr,td,th{
        padding-left: 8px;
    }
    .reg input{
        border-style: none;
    }
    .reg .col-3{
        width: 150px;
    }
    .reg th{
        width: 250px;
    }
    #time{
        text-align: center;
        font-size: 17px;
    }
    .programe{
        margin-left: 5px;
        border-collapse: collapse;
        height: 119px;
        width: 100%;
        margin-right: 5px;
        text-align: center;
    }
    #Exam-Controller{
        padding-top: 65px;
    }
    #notic-h{
        text-align: center;
        text-decoration: underline;
    }
    span{
        font-size: 17px;
        font-weight: bold;
    }
    .notic{
        margin-left: 25px;
        margin-right: 25px;
        text-align: justify;
    }
    #notice-he{
        text-align: center;
            text-decoration: underline;
    }
    .notic-e{
        margin-left: 25px;
        margin-right: 25px;
        text-align: justify;
    }
    @media screen and (max-width: 600px) {
        .body-row{
            margin-left: 15px;
            /* margin-top: 30px; */
            margin-right: 15px;
        }
        .website_title {
          color: rgb(4, 90, 187);
          /* font-size: 2rem; */
          /* padding: 2%; */
          /* font-size: 50px; */
        }
        .head{
            color: black;
        }
        .website_title h1{
            font-size: 12px;
            /* padding-left: 148px; */
            padding-top: 18px;
        }
    
        .logo {
          height: 56px;
          text-align: center;
        }
        #admit-h{
            text-align: center;
            padding-top: 20px;
            font-weight: bold;
        }
        #top1{
            font-size: 9px;
            font-weight: 10px;
            /* padding-left: 326px; */
        }
        #top2{
            font-size: 12px;
            font-weight: bold;
            /* padding-left: 255px; */
        }
        .reg{
            margin-left: 5px;
            border-collapse: collapse;
            height: 500px;
            width: 100%;
            text-align: left;
        }
        .reg tr,td,th{
            padding-left: 8px;
        }
        .reg input{
            border-style: none;
        }
        .reg .col-3{
            width: 150px;
        }
        .reg th{
            width: 250px;
        }
        #time{
            text-align: center;
            font-size: 17px;
        }
        .programe{
            margin-left: 5px;
            border-collapse: collapse;
            height: 119px;
            width: 100%;
            margin-right: 5px;
            text-align: center;
        }
        #Exam-Controller{
            padding-top: 65px;
        }
        #notic-h{
            text-align: center;
            text-decoration: underline;
        }
        span{
            font-size: 17px;
            font-weight: bold;
        }
        .notic{
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
    }
    #notice-he{
        text-align: center;
            text-decoration: underline;
    }
    .notic-e{
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
    @media screen and (max-width: 900px) and (min-width: 600px)
    {
        .body-row{
            margin-left: 15px;
            /* margin-top: 30px; */
            margin-right: 15px;
        }
        .website_title {
          color: rgb(4, 90, 187);
          /* font-size: 2rem; */
          /* padding: 2%; */
          /* font-size: 50px; */
        }
        .head{
            color: black;
        }
        .website_title h1{
            font-size: 26px;
            /* padding-left: 148px; */
            padding-top: 18px;
        }
    
        .logo {
          height: 90px;
          text-align: center;
        }
        #admit-h{
            text-align: center;
            padding-top: 20px;
            font-weight: bold;
        }
        #top1{
            font-size: 15px;
            font-weight: 15px;
            /* padding-left: 326px; */
        }
        #top2{
            font-size: 21px;
            font-weight: bold;
            /* padding-left: 255px; */
        }
        .reg{
            margin-left: 5px;
            border-collapse: collapse;
            height: 500px;
            width: 100%;
            text-align: left;
        }
        .reg tr,td,th{
            padding-left: 8px;
        }
        .reg input{
            border-style: none;
        }
        .reg .col-3{
            width: 150px;
        }
        .reg th{
            width: 250px;
        }
        #time{
            text-align: center;
            font-size: 17px;
        }
        .programe{
            margin-left: 5px;
            border-collapse: collapse;
            height: 119px;
            width: 100%;
            margin-right: 5px;
            text-align: center;
        }
        #Exam-Controller{
            padding-top: 65px;
        }
        #notic-h{
            text-align: center;
            text-decoration: underline;
        }
        span{
            font-size: 17px;
            font-weight: bold;
        }
        .notic{
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
        #notice-he{
            text-align: center;
                text-decoration: underline;
        }
        .notic-e{
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
    }
    @media screen and (max-width: 1100px) and (min-width: 900px){
        .body-row{
            margin-left: 15px;
            /* margin-top: 30px; */
            margin-right: 15px;
        }
        .website_title {
          color: rgb(4, 90, 187);
          /* font-size: 2rem; */
          /* padding: 2%; */
          /* font-size: 50px; */
        }
        .head{
            color: black;
        }
        .website_title h1{
            font-size: 38px;
            /* padding-left: 148px; */
            padding-top: 18px;
        }
    
        .logo {
          height: 90px;
          text-align: center;
        }
        #admit-h{
            text-align: center;
            padding-top: 20px;
            font-weight: bold;
        }
        #top1{
            font-size: 15px;
            font-weight: bold;
            /* padding-left: 326px; */
        }
        #top2{
            font-size: 21px;
            font-weight: bold;
            /* padding-left: 255px; */
        }
        .reg{
            margin-left: 5px;
            border-collapse: collapse;
            height: 500px;
            width: 100%;
            text-align: left;
        }
        .reg tr,td,th{
            padding-left: 8px;
        }
        .reg input{
            border-style: none;
        }
        .reg .col-3{
            width: 150px;
        }
        .reg th{
            width: 250px;
        }
        #time{
            text-align: center;
            font-size: 17px;
        }
        .programe{
            margin-left: 5px;
            border-collapse: collapse;
            height: 119px;
            width: 100%;
            margin-right: 5px;
            text-align: center;
        }
        #Exam-Controller{
            padding-top: 65px;
        }
        #notic-h{
            text-align: center;
            text-decoration: underline;
        }
        span{
            font-size: 17px;
            font-weight: bold;
        }
        .notic{
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
        #notice-he{
            text-align: center;
                text-decoration: underline;
        }
        .notic-e{
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
      
    }
  </style>
</head>
<body>
    <div class="row body-row">
        <center>
          <div class="col-sm-1">
            <img src="/images/bsctlogo2.png" style="float: left;" class="logo" />
          </div>
          <div class="col-sm-1" style="float: right">
            <img src="/images/bsctlogo.png" style="float: right;" class="logo" />
          </div>
          <div class="col-sm-10 website_title" >
           <h1>BIHAR COUNCIL ON SCIENCE & TECHNOLOGY</h1> 
            <p class="head"id="top1">DEPARTMENT OF SCIENCE & TECHNOLOGY, GOVT. OF BIHAR</p>
            <p class="head" id="top2">SRI RAMUANUJAN TALENT SEARCH MATHAMETICS - 2021</p>
            
           
          
          </div>
       </center>  
    </div>
    <div>
        <h4 id="admit-h">E-ADMIT CARD</h4>
        
    </div>
    <form action="">
        <div class="col-12">
          <table border="1" class="reg">
            <thead style="height: 56px;">
              <tr>
                <th >Roll No</th>
                <th><input style="width: 100%;padding: 0px 0px 0px 0px;" type="number" value="<%=user[0].id%>"></td>
                <th rowspan="3"><img hieght = 300; width = 300 src="<%=user[0].photo%>"></th>
              </tr>
              <tr>
                <th>Registration No</th>
                <th><input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value="<%-user[0].reg_no%>"></td>
             
              </tr>
              <tr>
                <th>Candidate Name</th>
                <th><input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].name%>"></th>
               
              </tr>
              <tr>
                <th>Candidate Father’s Name</th>
                <td><input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].father_name%>"></td>
                <td class="col-3">Signature- <img src="<%=user[0].signature%>" hieght = 200; width = 200;></td>
              </tr>
              <tr>
                <th>Date of Birth</th>
                <td><input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].date_of_birth%>"></td>
                <td class="col-3">Level-<input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].level%>"></td>
              </tr>
              <tr>
                <th>School Name</th>
                <td><input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].school%>"></td>
                <td class="col-3">Class-<input style="width: 100%;padding: 0px 0px 0px 0px;" type="text" value= "<%=user[0].class%>"></td>
              </tr>
            </thead >
          </table>
        </div>
  
    </form>
    <div class="container">
        <div class="row routine">
            <h5 id="time">Time-Table</h5>
        </div>
        <table class="programe" border="1">
            <thead>
              <tr>
                <th>DATE</th>
                <th>TIME</th>
                <th>SUBJECT</th>
                <th>CENTER NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><P>19-12-2021</P></td>
                <td><P> <%=user[0].start_time%></P></td>
                <td><P>General Mathematics</P></td>
                <td><P>Govt. Engineering College,Bhaktiyarpur Patna </P></td>
              </tr>
              <tr>
                <th colspan="3" style="text-align: start;"><P>Please keep this E-Admit Card safe, download and print the important
                    instruction enclosed with this e-admit card and adhere all the important
                    instruction given. If above given details are different from given in the
                    application form please contact to BCST council. </P></th>
                <td id="Exam-Controller">Exam-Controller Signature</td>
                
              </tr>
              
            </tbody>
          </table>
    </div>
    <div class="container">
        <div class="row">
            <h2 id="notic-h"> आवश्यक निर्देश(Important Instruction)</h2>
        </div>
    </div>    
        <div class="container">
        <div class="row notic">
          <p> 1. अपने साथ प्रवेश पत्र सदैव रखें। इस ई-प्रवेश पत्र को सुरक्षित रखें तथा दिए गए निम्नवत आवश्यक निर्देश  अक्षरश: अनुपालन करें ।</p>
          <p> 2. श्री रामानुजन टैलेंट सर्च टेस्ट इन मैथमेटिक्स 2021 के <span>Online Test</span> में भाग लेने हेतु सभी परीक्षार्थीगण अपने साथ इंटरनेट की सुविधा से युक्त मोबाइल/ लैपटॉप लाना सुनिश्चित करेंगे। जो परीक्षार्थी इन सामग्री को अपने साथ नहीं लाएंगे उनका परीक्षा काउंसिल द्वारा रद्द कर दिया जाएगा</p>
          <p> 3. कोरोना <span> (Covid-19)</span> महामारी को ध्यान में रखते हुए परीक्षा केंद्र पर मास्क लगाना आवश्यक है तथा परीक्षा केंद्र के मुख्य द्वार पर <span> (Social Distancing)</span> (2 गज की दूरी) बनाते हुए अपने हाथों को <span>Sanitize</span> कर प्रवेश करेंगे। परीक्षा कक्ष में भी <span>Social Distancing</span> बनाना आवश्यक है।</p>
          <p> 4. निर्धारित परीक्षा के केंद्र पर परीक्षा प्रारंभ होने के एक घंटा पूर्व पहुंच जाएं। परीक्षा प्रारंभ होने के बाद परीक्षा कक्ष में प्रवेश की अनुमति नहीं दी जाएगी तथा परीक्षा अवधि की समाप्ति के पूर्व किसी परीक्षार्थी को परीक्षा कक्ष छोड़ने की अनुमति नहीं दी जाएगी चाहे उसका अपना उत्तर पत्रक <span>Online Examination</span> के पूर्व जमा ही क्यों ना कर दिया गया हो। परीक्षा केंद्र में अपने निर्धारित स्थान पर ही बैठे। परीक्षा के दौरान अपने <span>Computer</span> पर दिए गए निर्देशों को ध्यान पूर्वक पढ़ें तथा उनका अक्षरश:  पालन करें।</p>
          <p> 5. परीक्षा भवन में अपने साथ ब्लू/ ब्लैक बॉल प्वाईंट पेन, के अतिरिक्त कोई अन्य सामग्री ना लाएं।</p>
          <p> 6. ब्लूटूथ, गैजेट,इलेक्ट्रॉनिक पेन, स्मार्ट वॉच आदि जैसी इलेक्ट्रॉनिक सामग्री तथा <span>Whitener/Blade/Eraser</span> आदि आपके पास पाए जाने पर संबंधित अभ्यार्थी की उम्मीदवारी रद्द कर दी जाएगी।</p>
          <p> 7. अभ्यार्थी को किसी भी प्रकार के <span>Calculator</span> परीक्षा हॉल में ले जाने की अनुमति नहीं होगी।</p>
          <p> 8. किसी प्रकार के कदाचार में लिप्त पाए जाने पर संबंधित अभ्यार्थी को परीक्षा से निष्कासित कर दिया जाएगा तथा उसके विरुद्ध नियमानुकूल बिहार संचालन अधिनियम ,1981 के अंतर्गत के प्रावधानों के अनुसार परीक्षा संयोजक/केंद्राधीक्षक द्वारा वैधानिक कार्यवाही की जाएगी।</p>
          <p> 9. अभ्यार्थी अपनी फोटोयुक्त पहचान पत्र यथा आधार कार्ड, <span>EPIC</span> ,पैन कार्ड, ड्राइविंग लाइसेंस,     पासपोर्ट इत्यादि साथ रखेंगे जिसे परीक्षा केंद्र पर पहचान के रूप में प्रस्तुत किया जा सके।</p>
          <p> 10. सभी उम्मीदवारों के लिए मास्क/ फेस कवर पहनना अनिवार्य है। जिन उम्मीदवारों ने मास्क/ फेस कवर नहीं पहना होगा,उन्हें परीक्षा स्थल में प्रवेश नहीं दिया जाएगा। परीक्षा प्रक्रिया से जुड़े पदाधिकारियों द्वारा सत्यापन किये जाने हेतु उम्मीदवारों को मास्क हटाना होगा।</p>
        </div>
    </div>
    <div class="container">
      <div class="row ">
        <h2 id="notice-he">Important Instruction</h2>
      </div>
    </div>
    <div class="container">
      <div class="row notic-e">
        <p>1.	Keep this Admit Card safe with you and follow/adhere to the given instructions.</p>
        <p>2.	The examination link will be available on official website of BCST-Patna-(www.bcst.org.in).</p>
        <p>3.	Detailed information of the process to activate and start the examination link will be available on Demo link-(www.bcst.org.in). All information related to online examination process can be obtained by clicking on above given link.</p>
        <p>4.	For appearing at the Sri Ramanujan Talent Search Test in Mathematics-2021 online examination, students are instructed to bring their own laptop/mobile with internet facility. The students without these facilities may not be allowed to appear at the examination.</p>
        <p> 5.	The students should reach the examination center before one hour of the starting time of the examination. No student will be allowed to enter into the examination hall after starting the examination, and no student will be allowed to leave the examination hall without permission of invigilators even he/she has submitted the answer sheet.  </p>
        <p>6.	The students are not allowed to bring any item inside the examination hall apart from blue/black ball pen and A4 size blank page for the rough work.</p>
        <p>7.	If any student is found with Bluetooth, Electronic Gadget Pen, Smart Watch, Watch, Calculators, Whitener, Blade, Eraser etc. at examination center/hall, the BCST council may cancel his candidature.</p>
        <p>8.	If any student is found involved in any act of indiscipline, his candidature will be cancelled by BCST council, and action under The Bihar Conduct of Examination Act-1981 may be taken against him.</p>
        <p>9.	Students are instructed to keep their identity card with photographs such as Aadhar Card, EPIC, PAN CARD, Driving License, Passport etc. to show during the entry at the examination center.</p>
        <p>10.	Students are instructed to wear mask/face cover and strictly follow the Covid-19 pandemic guidelines within the examination center.  </p>
      </div>
    </div>
</body>
</html>